<!-- balanced-bbst.component.html -->

<style>
  table {
    margin: auto;
  }

  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    width: 50px; /* Adjust the width as needed */
  }
</style>

<script>
  console.log("balanced-bbst.component.html");
</script>

<button (click)="addInputField()">Add Input Field</button>
<button (click)="test()">Generate BBST</button>
<div id="input-container"></div>
<div id="output-container"></div>

<h1>Sorted Array</h1>
<p>{{ sortedArray }}</p>

<h1>Balanced Binary Search Tree</h1>
<p [innerHTML]="bstOutput"></p>
